aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
arabic-reshaper==3.0.1
argcomplete==3.6.3
asgiref==3.11.1
asn1crypto==1.5.1
attrs==25.4.0
autocommand==2.2.2
Automat==25.4.16
beautifulsoup4==4.14.3
bitarray==3.8.0
boolean.py==5.0
build==1.4.3
cachetools==7.1.4
caelestia==1.0.2
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.4
ckzg==2.1.6
click==8.3.3
cloudinary==1.44.1
constantly==23.10.4
coverage==7.13.5
cryptography==48.0.0
cssselect2==0.9.0
Cython==3.2.5
cytoolz==1.1.0
dbus-python==1.4.0
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
Django==6.0.2
django-cloudinary-storage==0.3.0
editables==0.6
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
evdev==1.9.3
filelock==3.29.0
freetype-py==2.5.1
frozenlist==1.8.0
gbinder-python==1.3.1
gps==3.27.5
gunicorn==26.0.0
h11==0.16.0
hatch==1.16.5
hatch-vcs==0.5.0
hatchling==1.29.0
hexbytes==1.3.1
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.16
Incremental==24.11.0
iniconfig==2.3.0
installer==1.0.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
keyring==25.7.0
libfdt==1.7.2
libmsym==0.2.4
license-expression==30.4.4
lit==22.1.5.dev0
lxml==6.1.1
lyrics-in-terminal==1.8.0
Mako==1.3.11.dev0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
materialyoucolor==2.0.10
mdurl==0.1.2
meson==1.11.1
moddb==0.14.0
more-itertools==11.1.0
multidict==6.7.1
namcap==3.6.0
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
numpy==2.4.6
oauthlib==3.3.1
oscrypto==1.3.0
packaging==26.2
parsimonious==0.10.0
pathspec==1.1.1
payos==1.1.0
pexpect==4.9.0
pillow==12.1.1
pipx==1.12.0
pkg_resources==81.0.0
platformdirs==4.9.6
pluggy==1.6.0
propcache==0.4.1
psutil==7.2.2
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pyalpm==0.11.1
pyaml==26.2.1
pycairo==1.29.0
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pyelftools==0.32
Pygments==2.20.0
PyGObject==3.56.3
pyHanko==0.35.1
pyhanko-certvalidator==0.31.1
PyJWT==2.11.0
pypdf==6.12.2
pyproject_hooks==1.2.0
PySide6==6.11.1
pystray==0.19.5
pytest==9.0.3
python-bidi==0.6.10
python-discovery==1.3.1
python-dotenv==1.2.2
python-xlib==0.33
python3-openid==3.2.0
pytz==2025.2
pyunormalize==17.0.0
pywayland==0.4.18
pyxdg==0.28
PyYAML==6.0.3
QtPy==2.4.3
Reflector==2023.6.28.0.36.1
regex==2026.2.28
reportlab==4.5.1
requests==2.32.5
requests-oauthlib==2.0.0
rich==15.0.0
rlp==4.1.0
rlPyCairo==0.4.0
SecretStorage==3.5.0
setproctitle==1.3.7
setuptools==82.0.1
setuptools-scm==10.0.5
shellingham==1.5.4
shiboken6==6.11.1
shiboken6-generator==6.11.1
six==1.17.0
smbus==1.1
sniffio==1.3.1
social-auth-app-django==5.7.0
social-auth-core==4.8.5
soupsieve==2.8.3
speedtest-cli==2.1.3
spglib==2.7.1.dev0+g12355c77f.d20260104
sqlparse==0.5.5
svglib==1.6.0
TBB @ file:///build/onetbb/src/build/python/python_build
tinycss2==1.5.1
tomli_w==1.2.0
tomlkit==0.15.0
toolz==1.1.0
tqdm==4.67.3
trash-cli==0.24.5.26
trove-classifiers==2026.5.20.19
Twisted==26.4.0
types-requests==2.32.4.20260107
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
uritools==6.1.2
urllib3==2.7.0
userpath==1.9.2
uv==0.11.16
VapourSynth==75
vcs-versioning==1.1.1
vdf==4.0
virtualenv==21.3.3
web3==7.14.1
webencodings==0.5.1
websockets==15.0.1
wheel==0.47.0
xhtml2pdf==0.2.17
yarl==1.23.0
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
ytmusicapi==1.12.0
zope.interface==8.4
zstandard==0.25.0
